<form action="{% url 'index' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
    {{ form }}
    <button type="submit">Submit</button>
</form><br>
<a href="{% url 'reset' %}">Reset</a>
<p>Result:</p>
<p>
    {% if occasionally_loss %}
    <ul>
        {% for i in occasionally_loss %}
            <li>{{ i }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if final_rme %}
        {{ final_rme }}
    {% endif %}
</p>